# Database
POSTGRES_USER=username
POSTGRES_PASSWORD=your_secure_password
POSTGRES_DB=classicmodels

# Note: Default internal docker connection for api container
DATABASE_URL=postgresql://username:your_secure_password@db:5432/classicmodels
# If testing completely manually/locally, swap the URL above to this:
# DATABASE_URL=postgresql://username:your_secure_password@127.0.0.1:5435/classicmodels

ACTIVE_LLM=gemini/huggingface

# Gemini (Google AI Studio)
GEMINI_API_KEY=Gemini API Key Here
GEMINI_MODEL=gemini-2.0-flash

# HuggingFace
HUGGINGFACE_API_KEY=your_huggingface_key_here
HF_MODEL=meta-llama/Meta-Llama-3-70B-Instruct